BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
DerivePointerAlignment: false
IncludeBlocks: Regroup
IndentCaseLabels: true
InsertBraces: true
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: true
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpacesInAngles: Never
