<launch>
	<arg name="rviz" default="true" />

	<node pkg="lio_core_ros" type="lio_core_ros_node"
		name="lio_core_ros" output="log"
		args="
		--offline_mode=true 
		--bag_filename=$(arg bag_filename) 
		--algorithm_config_filename=$(find lio_core_ros)/config/K1.yaml
		--use_external_calib=true 
		--external_calib_filepath=/home/dell/lixel_output/
		--calib_model=1 
		--output_dir=/home/dell/lixel_output/
		--output_dir_temp=/home/dell/lixel_output/" />

	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find lio_core_ros)/config/loam_livox.rviz" />

	launch-prefix="xterm -e gdb -ex run --args"

</launch>